// https://www.w3schools.com/colors/colors_analogous.asp

$sidebar-color: #E3F7D4;	// #1
$border-color: #66B032;	// #2
$body-heading-color: #FC600A;	// #3
$link-color: #0247FE;		// #4
$body-text-color: #091534;	// #5
