// https://www.w3schools.com/colors/colors_analogous.asp

$sidebar-color: #F7D4EC;	// #1
$border-color: #AE0D7A;	// #2
$body-heading-color: #EA202C;	// #3
$link-color: #FD4D0C;		// #4
$body-text-color: #341509;	// #5
